@using ToDogList.Models;

@model List<ToDoItem>

<div class="row">

    <div class="col-md-6">
        <h1>Tasks</h1>
        <a asp-controller="App" asp-action="Add" class="btn btn-primary">Add</a>
        <a asp-controller="App" asp-action="Delete" class="btn btn-danger">Delete</a>
        @if (Model.Count == 0)
        {
            <p>Your list is empty!</p>
        }
    <form method="post">
        @foreach (ToDoItem item in Model)
        {
        <div class="form-check">
            @if (item.Complete == false)
            {
                <input type="checkbox" name="itemIds" value="@item.Id" class="form-check-input" />
                <label class="form-check-label" for="itemIds">@item.Name</label>
            }
            @if (item.Complete == true)
            {
                <input type="checkbox" name="itemIds" value="@item.Id" class="form-check-input" disabled />
                <label class="form-check-label" for="itemIds"><del>@item.Name</del></label>
            }
        </div>
        }
        <input type="submit" value="Done!" class="btn btn-success" />
    </form>
    </div>

    <div class="col-md-6">
        @if (ViewBag.completed == 0)
        {
            <p>Finish items on your list to get cute dog pictures!</p><br />
            <p>You can do it!</p>
        }
        else
        {
            @for (int i = 0; i < ViewBag.completed; i++)
            {
                <img src="@ViewBag.pictures[i].Message" />
                <br />
            }
        }
    </div>
</div>